body{
  min-height: 100vh;
  width: 100vw;
  background:#f4f4f4;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
   font-family: "Google Sans Code", monospace;
   scroll-behavior: smooth;
}
.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 4rem;
}
.header{
  display: flex;
  width: 100%;
  height: 40rem;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}
.header-head{
  display: flex;
  width: 100%;
  margin-top: 3rem;
  gap: 8rem;
  justify-content: center;
  align-items: start;
}
.header-head nav ul{
  display: flex;
  gap: 2rem;
}
.header-head nav ul li{
  position: relative;
  list-style: none;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.3rem;
}
.header-head nav ul li:after{
  content: "";
  left:50% ;
  top: 100%;
  position: absolute;
  background-color: black;
  height: 0.1rem;
  width: 0%;
  transform: translateX(-50%);
  transition:width 300ms ease-in-out;
}
.header-head nav ul li:hover::after{
  width: 100%;
}
.play-button{
  position: absolute;
  left: 45%;
  top: 40%;
  border: 1px solid rgba(173, 173, 173, 0.771);
  padding: 4rem;
  height: 4rem;
  width: 4rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top,rgb(175, 29, 100) 50%,transparent 50%);
  background-size :100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out
}
.play-button:hover{
  background-position: bottom;
}
.play-button a{
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffffcd;
  font-weight: bolder;
  font-size: 4rem;
  transition: color 500ms ease-in-out;
}
.play-button a:hover{
  color: #ffffff;
}
.bacground-picture-header img{
  z-index: -1;
  top: -10rem;
  height: 70rem;
  left: -10rem;
  position: absolute;
}
.header-head img{
  height: 3rem;
}
.registration{
  z-index: 10;
  position: relative;
  left: 25%;
  height: 70%;
  top: 5%;
  width: 50%;
  background-color: #f4f4f4;
  border-radius: 2rem;
  box-shadow: 10px 5px 10px rgba(10, 20, 30, 0.911);
}
.registration-container{
  padding: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.registration-container h1{
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 0.2rem;
}
.input{
  padding: 1rem;
  border-radius: 0.4rem;
  outline: none;
  border: 1px solid black;
}
.input-error{
  border: 2px solid rgba(203, 57, 57, 0.812) !important;
}
.send-registration{
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgba(11, 32, 194, 0.63);
  text-transform: uppercase;
  font-size: 1rem;
  color: #f4f4f4;
}
.navigation-mobile{
  display: none;
}
.logo-mobile{
  display: none;
}
.cross img{
  position: absolute;
  top: 10%;
  left: 90%;
  height: 2rem;
  width: 2rem;
}
.main{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.container-three-slides{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header-three-slides{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.left-part-three-slides{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgba(28, 19, 1, 0.938);
}
.see-the-work {
  width: 10rem;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid black;
  color: rgba(28, 19, 1, 0.938);
  text-align: center;
  background-image: linear-gradient(to top,rgba(11, 32, 194, 0.63) 50%, transparent 50%);
  background-size: 100% 205%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}
.see-the-work a{
  text-decoration: none;
  color: #000000;
}
.see-the-work:hover{
  background-position: bottom;
}
.right-part-three-slides{
  font-size: 8rem;
  margin-left: -15rem;
  font-weight: bolder;
  color: rgba(28, 19, 1, 0.938);
}
.main-three-slides{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.big-picture{
  width: 30%;
}
.big-picture img{
  height: 30rem;
}
.big-picture p {
  text-transform: uppercase;
  color: rgba(28, 19, 1, 0.938);
}

.big-picture p span{
  font-weight: bolder;
}
.features{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 5.3rem;
}
.swiper{
  height: 30rem;
  width: 110%;
}
.feature-slide h1{
  position: relative;
  width: 50%;
  display: flex;
  gap: 0.4rem;
}
.feature-slide h1 img{
  height: 2rem;
}
.feature-slide h1::after{
  content: "";
  position: absolute;
  background-color: rgba(28, 19, 1, 0.938);
  height: 0.2rem;
  left: 0;
  top: 100%;
  width: 100%;
}
/*big container  middle*/
.container-two-photo-text{
  width: 100%;
  background-color: rgb(16, 9, 0);
  gap: 3rem;
  height: 57rem;
  position: relative;
}
.left-part-two-photo-text{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color:rgb(244, 224, 234);
  font-weight: bolder;
  font-family: "Alfa Slab One", serif;
  letter-spacing: 0.2rem;
  font-size: 4rem;
  top: -27%;
  left: 2%;
}
.left-part-two-photo-text p span{
  color:#000000;
}
.about-us{
  border: 1px solid rgb(175, 29, 100);
  padding:1rem;
  color: rgb(175, 29, 100);
  width: 10rem;
  border-radius: 1rem;
  background-image: linear-gradient(to top,rgb(175, 29, 100) 50%, transparent 50%);
  background-size: 100% 205%;
  background-position: top;
  transition: background-position 0.5s ease-in-out,color 200ms;
  font-size: 1rem;
  text-align: center;
}
.about-us:hover{
  color: #f4f4f4;
  background-position: bottom;
}
.right-part-two-photo-text{
  width: 100%;
}
.right-part-two-photo-text:nth-child(2){
  position: absolute;
  height: 30rem;
  left: 62%;
  top: -20%;
}
.buisness{
  position: absolute;
  height: 20rem;
  left: 0%;
  top: 158%;
}
.wolfik{
  position: absolute;
  width: 30rem;
  left: -35%;
  top: 124.9%;
}
.bottom-pictures{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
}
.bottom-container{
  display: flex;
  width: 90%;
  gap: 5rem;
  position: relative;
}
.bottom-container::before{
  position: absolute;
  top: -5%;
  content: "";
  width: 100%;
  background-color: #000000;
  height: 0.1rem;
}
.bottom-container img{
  height: 4rem;
}
.bottom-container-left img{
  width: 40rem;
  height: 25rem;
}
.bottom-container-right{
  text-transform: uppercase;
}
.footer{
  position: relative  ;
  width: 100%;
  background-color: #141414;
  padding: 3rem;
  bottom: 0%;
  display: flex;
  gap:50rem;
  color: #f4f4f4;
  align-content: center;
  font-weight: bolder;
}
.left-footer-part{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-left: 2rem;
  width: 5rem;
}
.footer-tag{
  position: relative;
}
.footer-tag::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #f4f4f4;
  border-radius: 4rem;
  padding: 0.4rem;
  left: -25%;
  top: 9%;
}
.top-left-footer-part h1{
  font-size: 1rem;
}
.bottom-left-footer-part{
  display: flex;
  gap: 5rem;
}
.right-footer-part{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  margin-right: 9rem;
}/* TABLET VERSION (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .header-head {
    gap: 2rem;
    padding: 0 2rem;
  }

  .right-part-three-slides {
    margin-left: 0;
    font-size: 4rem;
    text-align: center;
  }

  .left-part-three-slides {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
  }

  .main-three-slides {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .big-picture {
    width: 45%;
  }

  .features {
    margin-left: 0;
    width: 90%;
    margin: 0 auto;
  }

  .container-two-photo-text {
    height: auto;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
  }

  .left-part-two-photo-text {
    position: relative;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    left: 0;
    right: 0;
    top: 0;
  }
  
  .right-part-two-photo-text img {
    position: static !important;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 1rem;
  }
  .bottom-container {
    flex-direction: column;
    width: 90%;
    gap: 2rem;
  }

  .bottom-container-left img {
    width: 100%;
    height: auto;
  }

  .footer {
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
  }

  .right-footer-part {
    margin-right: 0;
  }
}

/* MOBILE VERSION (max-width: 480px) */
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    overflow-x: hidden;
  }
  .header {
    height: 28rem;
    padding-bottom: 2rem;
    position: relative;
  }
.play-button{
  display: none;
}
.registration{
  z-index: 10;
  position: absolute;
  left:0%;
  height: 30rem;
  top: 5%;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 2rem;
  box-shadow: 10px 5px 10px rgba(10, 20, 30, 0.911);
}

  .header-head {
    padding: 0 1rem;
    gap: 10rem;
    position: relative;
  }
  .navigation, .logo-button-desktop {
    display: none;
  }
  .logo-mobile {
    display: block;
    height: 2.5rem;
  }
  .header-three-slides {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .navigation-mobile{
        display: flex;
  }
  .navigation-mobile ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:13%;
    top: -10%;
  }
  .navigation-mobile ul li{
    margin: 0;
    padding: 0;
  }
  .right-part-three-slides {
    font-size: 3rem;
  }

  .main-three-slides {
    flex-direction: column;
    align-items: center;
  }

  .big-picture {
    width: 90%;
  }

  .big-picture img {
    height: auto;
    width: 100%;
  }

  .swiper {
    width: 100% !important;
    margin: 0;
  }

  .features {
    width: 95%;
    margin: 0 auto;
  }
.left-part-two-photo-text{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  gap: 1rem;
  width: 90%;
  color:rgb(244, 224, 234);
  font-weight: bolder;
  font-family: "Alfa Slab One", serif;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  top: 0%;
  left: 0%;
}
.left-part-two-photo-text p span{
    color:rgb(244, 224, 234);
}
.right-part-two-photo-text{
  display: none;
}
  .about-us {
    width: 60%;
  }
  .arrow{
    display: none;
  }
  .bottom-container::before {
    display: none;
  }
  .bottom-container-left img{
    height: 20rem;
  }
  .bottom-left-footer-part {
    flex-direction: column;
    gap: 1.5rem;
  }
  .left-footer-part{
  margin-left: 0rem;
}
  .right-footer-part{
    flex-direction: column-reverse;
    margin:0;
  }
  .footer-tag::before {
    display: none;
  }
}