body{
    padding: 0;
    margin:0;
    background: radial-gradient(circle at 20% 30%, rgba(0, 191, 255, 0.12) 0%, transparent 50%),
    radial-gradient(circle at 80% 70%, rgba(0, 255, 255, 0.08) 0%, transparent 50%),
    #0a0c10; 
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    justify-content: center;
    align-items: center;
}
.header{
    position: fixed;
    top: 2%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    width: 50%;
    max-height: 5rem;
    z-index: 1;
}
.input-container{
    display: flex;
    gap: 5rem;
    padding: 1rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   border-radius: 1rem;
    align-items: center;
}
.logo{
    height: 5rem;
    width: 5rem;
}
.search{
    height: 2rem;
    width: 35rem;
    padding: 1rem ;
    background: transparent;
    border: none;
    color:  hsla(0, 0%, 100%, 0.993);
}
.search:focus{
    outline: none;
    border-radius: 1rem;
    border: 1px solid rgba(132, 166, 30, 0.592);
}
.main{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding-top: 10rem ;
}
.background-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    overflow: hidden;
    box-shadow: 10px 10px 5px hsla(56, 68%, 34%, 0.2);
    position: relative;
}

.background-container img{
    width: 100%;
    opacity: 0.9;
}
.background-container h1{
    position: absolute;
    left: 28%;
    z-index: 1;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    top: 30%;
    -webkit-text-stroke: 2px hsl(0, 38%, 5%);
    text-shadow: 5px 10px hsla(0, 13%, 14%, 0.486);
}
.categories{
    display: flex;
    gap: 5rem;
}
.btn{
    padding: 1rem;
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color:rgba(255, 255, 255, 0.791) ;
    text-transform: uppercase;
    border-radius: 0.5rem;
}
.main h1{
    color: white;
}

.grid{
    display: flex;
    gap: 5rem;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(30px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 1rem;
    height: 20rem;
    width: 15rem;
    padding: 1rem;
    transition: height 300ms,width 300ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card p{
    color:rgba(187, 187, 187, 0.887) ;
}
.text h1:nth-child(1){
    text-transform: uppercase;
}
.card-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.legendary{
    box-shadow: 5px 5px 5px hsla(53, 83%, 35%, 0.606);
    border: 2px solid hsla(53, 83%, 35%, 0.606);
    transition: border 300ms,box-shadow 300ms;
}
.common {
    box-shadow: 5px 5px 5px hsla(117, 75%, 34%, 0.606);
    border: 2px solid hsla(117, 75%, 34%, 0.606);
    transition: border 300ms,box-shadow 300ms;
}
.rare{
    box-shadow: 5px 5px 5px hsla(204, 86%, 30%, 0.606);
    border: 2px solid hsla(204, 86%, 30%, 0.606);
    transition: border 300ms,box-shadow 300ms; 
}
.rare:hover{
    box-shadow: 5px 5px 5px hsla(204, 85%, 44%, 0.606);
    border: 4px solid hsla(204, 85%, 44%, 0.606);
}
.common:hover{
    box-shadow: 5px 5px 5px hsla(117, 100%, 50%, 0.764);
    border: 4px solid hsla(117, 100%, 50%, 0.764);
}
.card:hover{
    width: 17rem;
    height: 22rem;
}
.legendary:hover{
    box-shadow: 5px 5px 5px hsla(53, 85%, 48%, 0.699);
    border: 4px solid hsla(53, 85%, 48%, 0.699);
}
.card-picture{
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-favorite{
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 1rem;
    border-radius: 0.5rem; 
    color:rgba(187, 187, 187, 0.887) ;
    transition: background 300ms,border 300ms;
    width: 10rem;
}
.add-favorite:hover{
    background: rgba(255, 255, 255, 0.298);
    border: 1px solid rgba(255, 255, 255, 0.274);
}
@media screen and (max-width:480px) {
    body{
        max-width: 100vw;
    }
    .logo{
        display: none;
    }
    .main{
        width: 100%;
    }
    .background-container{
        overflow: unset;
    }
    .background-container img{
        margin-left: 8rem;
    }
    .background-container h1{
        font-size: 3rem;
        left: 30%;
        -webkit-text-stroke: rgba(255, 255, 255, 0.767);
    }
    .categories{
        width: 80%;
        margin-left: 5rem;
        gap: 1rem;
    }
    .grid{
        margin-left: 5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}