  body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
  }
  .container{
min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(circle at 20% 30%, rgba(127, 42, 213, 0.15) 0%, transparent 50%),
                radial-gradient(circle at 80% 70%, rgba(255, 51, 204, 0.1) 0%, transparent 50%),
                  #0a0a0f;
  gap:5rem;
  }
  /*header*/
  .header{
height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:4rem ;
    
  }
  .navigation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  padding: 0.8rem 2rem;
    box-shadow: 2px 6px 2px 2px black;
    border: 1px solid #262628 ;
    border-radius: 2rem;
    gap: 4rem;
  }
  .navigation ul{
    display: flex;
    gap: 2rem;
  }
  .navigation ul li{
    list-style: none;
  }
  .navigation ul li a{
    list-style: none;
    color: #f0f0f0;
    position: relative;
    text-underline-offset: 0.2rem;
    transition: text-underline-offset 200ms ease-in-out;
    font-weight: 800;
  }
  .navigation ul li a:hover{
    text-underline-offset: 0.3rem;
  }
  .logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .logo-container img{
    height: 3rem;
    width: 5rem;
  }
  .logo-text{
    color: #e9e9e9;
    font-size: 1rem;
  }
  .join-army{
    padding: 0.7rem;
    background-color: #661b96;
    color: #f2f2f3;
    border: none;
    border-radius:1rem ;
    transition: background-color 1s ease-in-out ,color 1s ease-in-out ;
  }
  .join-army:hover{
    background-color:  #f2f2f3;
    color:#0a0a0f;
  }
  /*big board*/
  .board-container{
    width: 80vw;
    height: 40rem;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .board-container h1{
    font-weight: bolder;
    color: #f2f2f3;
    font-size: 5rem;
    margin: 0;
    font-family: "Google Sans Code", monospace;
  }
  .board-container p{
    color: #D7D9DB;
  }
  .buttn-container-board{
    display: flex;
    gap: 2rem;
  }
  .buttn-board-enter img{
    height: 2rem;
    width: 2rem;
  }
  .buttn-board-enter {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: #f0f0f0;
    color: #0a0a0f;
    border: 1px solid #0a0a0f;
    padding:0.5rem;
    width: 15rem;
    gap: 0.5rem;
    font-weight: bolder;
      height: 3rem;
      transition: height 1s ease-in,width 1s ease-in;
  }
  .buttn-board-comeback{
      font-weight: bolder;
      display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.03);
    color:  #f0f0f0;
  border: 1px solid rgba(255, 255, 255, 0.1);
    padding:0.5rem;
      width: 15rem;
    gap: 0.5rem;
    height: 3rem;
        transition: height 300ms ease-in,width 300ms ease-in;
  }
  .buttn-board-enter:hover{
    height: 4rem;
    width: 16rem;
  }
  .buttn-board-comeback:hover{
    height: 4rem;
    width: 16rem;
  }
  /*main*/
  .main{
    height: auto;
  }
  .home{
    display: flex;
    gap: 1rem;
    align-items: start;
  }
  .left-home{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .right-home{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  /*members*/
  .members{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
  }
  .left-home h1{
    font-weight: 900;
    color : #f0f0f0;
  }
  .member-box{
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 14rem;
    height:14rem;
    overflow: hidden ;
    position: relative;
  }
  .member-box-image{
    z-index: -1;
   height:16rem;
   width: 14rem;
  }
  .member-box-image-hide{
    display: none;
    height: 0;
    width: 0;
  }
 .name{
    position: absolute;
    bottom: 1%;
    left: 10%;
    font-weight: bolder;
    font-size: 2rem;
    z-index: 4;
    color: white;
  }
  .member-details{
    padding: 0.5rem;
    color: #f0f0f0;
  }
  .member-box-reveal{}
  .viewAll{
    position: absolute;
    background: none;
    border: none;
    color: #7f2ad5;
    font-size: 1rem;
    right: 7%;
    top: -20%;
  }
  .viewAll-lower{
        position: absolute;
    background: none;
    border: none;
    color: #7f2ad5;
    font-size: 1rem;
        right: 7%;
    top:-5%;
  } 
  /*vide0*/
.videoContainer{
  border-radius: 2rem;
  width: 94%;
  height: 100%;
  display: flex;
  justify-content: center;
  height: 20rem;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  display: flex;
  gap: 2rem;
  align-content: center;
}
.video-fake{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 17rem;
  height: 40%;
  padding:1rem ;
  background: #9b43c4;
  background: linear-gradient(153deg,rgba(155, 67, 196, 1) 1%, rgba(204, 92, 204, 1) 35%, rgba(232, 81, 209, 1) 68%, rgba(248, 5, 252, 1) 100%);
}
.play-video-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  background-color: white;
}
.play-video{
  margin-left: 0.4rem;
  padding: 1rem;
  height: 2rem;
  width: 2rem;
}
.videoContainer-left{
  display: flex;
  justify-content: center;
  align-items: center ;
}

/*release*/
.videoContainer-right{
  height: 100%;
  width: 20rem;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items:start ;
}
.release{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  background: rgba(113, 35, 109, 0.647);
  border-radius: 2rem;
  padding: 0.3rem ;
  border: 1px solid rgba(212, 18, 212, 0.88);
  color: #FF33CC;
  font-weight: bolder;
        font-family: "Google Sans Code", monospace;
}
.beyond-story{
  color: #f0f0f0;
  font-size: 1rem;
      font-family: "Google Sans Code", monospace;
}
.text{
      font-size: 0.8rem;
        color:   hsla(0, 100%, 97%, 0.575);
}
.explore{
    display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  background: rgba(153, 25, 185, 0.37);
  border-radius: 0.7rem;
  padding: 0.5rem ;
  border: 1px solid rgba(138, 18, 212, 0.75);
  color: #7f2ad5;
  font-weight: bolder;
        font-family: "Google Sans Code", monospace;
}

/*right side */
.first-part-right-home{
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 1rem ;
}
.first-part-right-home-content{
  padding: 1rem;
}
.header-earth{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: #e9e9e9;
}
.firt-part-container-text{
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}
.left-part-container-first-part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.dot{
  padding: 0.3rem;
  border-radius: 1rem;
}
.pink{
  background-color: #FF33CC;
}
.gray{
  background-color: hsla(0, 100%, 97%, 0.575);
}
.line {
  width: 1px;
  height: 4rem;
  background-color: hsl(0, 100%, 90%);
}
.earth{
  height: 2rem;
}
.right-part-container-first-part p{
  font-size: 0.8rem;
  color:   hsla(0, 100%, 97%, 0.575);

}

.right-part-container-first-part h1{
  margin: 0;
  font-family: "Google Sans Code", monospace;
  font-size: 1rem;
  font-weight: bolder;
  color: #e9e9e9;
}
.view-details{
  border-radius: 1rem ;
   border:1px solid hsla(0, 100%, 97%, 0.575);
   background: none;
  padding: 1rem;
  width: 100%;
  color:#e9e9e9;
  transition:bacground 1s ease-in-out,color 1s ease-in-out;
  }
  .view-details:hover{
    background-color: hsla(0, 100%, 97%, 0.575);
    color: #0a0a0f;
  }
  .second-part-right-home{
        background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 1rem ;
  }
    .second-part-right-home-container{
      padding:1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  .second-part-right-home-container p{
    color: hsla(0, 100%, 97%, 0.575);
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
  .bar{
    position: relative;
  }
  .bar-header{
    display: flex;
    gap: 4rem;
  }
  .bar-header p{
    letter-spacing: 0.01rem;
    font-size: 0.8rem;
    font-weight: bolder;
  }
  .bar-background{
    position: absolute  ;
    background-color: hsla(0, 100%, 97%, 0.247);
    width: 100%;
    height: 0.2rem;
  }
  .bar-forward{
        position: absolute  ;
    background-color: hsla(302, 90%, 35%, 0.627);
    width: 90%;
    height: 0.2rem;
  }
.info-gathers{
  display: flex;
  gap: 1rem;
}
.info-gathers-box{
          background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 1rem ;
    padding: 0.5rem;
    width: 40%;
}
.info-gathers-box p{
  letter-spacing: 0.05rem;
  font-size: 0.6rem;
  color:hsla(0, 100%, 97%, 0.247);
}
.info-gathers-box p:nth-child(3){
font-weight: bolder;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
}
.info-gathers-box h1{
  margin: 0;
  color: #e9e9e9;
}

@media only screen and (max-width:480px){
.navigation-container {
        width: 90%; 
        gap: 1rem; 
        justify-content: center; 
        padding: 0.5rem 1rem;
    }
    .logo-container{
      display: none;
    }
    .join-army {
      display: none;
    }
  .navigation ul {
    display: flex;
    justify-content: end;
    align-items: end;
  }
    .board-container{
      width: 100%;
    }
    .board-container h1{
      font-size: 3rem;
    }
    .board-container p{
      font-size: 0.9rem;
    }
    .buttn-board-enter{
      width: 10rem;
    }
    .buttn-board-enter:hover{
      width: 12rem;
    }
    .buttn-board-comeback{
      width: 10rem;
    }
    .buttn-board-comeback:hover{
      width: 12rem;
    }
    .main{
      width: 100%;
    }
    .home{
      width: 100%;
      flex-direction: column  ;
     }
     .member-box{
      width: 8rem;
      height: 8rem;
     }
    .left-home{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
       }
    .member-box{
        height: 8rem;
        width: 8rem;
      }
    .viewAll{
      top: -30%;
      right: 0%;
    }
    .viewAll-lower{
            top: -10%;
      right: 10%;  
    }
    .videoContainer{
      width: 100%;
      gap: 0.6rem;
    }
    .video-fake{
      width: 15rem;
    }
    .right-home{
      width: 100%;
    }

}