body{
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
}
.container{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
  width: 100%;
  
}
.light{
  background-color: hsl(0, 1%, 44%);
}
.dark{
  background: radial-gradient(circle at center, #132a4f 0%, #0f172a 100%);
}
.header{
  display: flex;
  gap: 60%;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 100%;
  height: 5rem;
}
.header-dark{
    background-color: #091630;
    border-bottom: 0.1rem solid #122a57;
}
.header-light{
  background-color: hsl(0, 1%, 14%);
  border-bottom: 0.3rem solid hsl(0, 2%, 10%);
}
.logo-container{
  display: flex;
  gap:3rem;
  align-items: center;
  justify-content: start;
}
.logo-container p{
  font-size:1rem ;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  color: rgb(209, 209, 209);
}
.logo-container p span{
  color: #808ea8;
  -webkit-text-stroke:0.3px #000000;
}
.logo{
  height: 3rem;
}
.main{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.not-choosen{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-create{
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 0rem;
  width: 7rem;
  border: none;
  background-image: linear-gradient(to top,rgb(255, 255, 255) 50% , rgb(191, 68, 23) 50%);
  background-position: bottom;
  background-size: 100% 200%;
  scale: 100%;
  height: 4rem;
  border-radius: none;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.801);
  transition: background-position 0.5s ease-in-out ,scale 0.5s ease-in-out,border-radius 0.5s ease-in-out;
}
.button-create:hover{
  background-position: top;
  border-radius: 1rem;
  scale: 120%;
}
.play-button{
  position: absolute;
  left: 45%;
  top: 40%;
  border: 1px solid rgba(173, 173, 173, 0.771);
  padding: 4rem;
  height: 4rem;
  width: 4rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top,rgb(175, 29, 100) 50%,transparent 50%);
  background-size :100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out
}
.play-button:hover{
  background-position: bottom;
}