body{
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "UnifrakturCook", cursive;
  background-color: #0a0907;
}
.navigation{
  background-color:rgba(32, 29, 24, 0.709);
  height: 6rem;
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
.navigation img{
  height: 4rem;
}
.navigation a{
  text-decoration: none;
  color: rgba(197, 198, 199, 0.712);
  font-size: 1.5rem;
  font-weight: bolder;
  transition: color 300ms;
}
.navigation a:hover{
  color: rgb(213, 213, 213) ;
}
.avatar-img{
  border-radius: 10rem;
}
.avatar{
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgba(197, 198, 199, 0.712);
}
.avatar img{
  height: 4rem;
}
.registration-container{
  position: absolute;
  z-index: 10;
  height: 30rem;
  width: 40rem;
  border-radius: 1rem;
  top: 100%;
  box-shadow:10px 10px 20px rgba(31, 124, 216, 0.774);
  background-color: rgb(220, 220, 220);
}
.registration-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  gap: 2rem;
}
.text{
  padding: 1rem;
  background: transparent;
  border-radius: 1rem;
  border: 3px solid rgba(31, 124, 216, 0.774);
  width: 20rem;
  outline: none;
}
.cancel{
  position: absolute;
  top: 3%;
  left: 88%;
}
.submit{
  padding: 1rem;
  width: 20rem;
  border-radius: 1rem;
  border: none;
  font-family: "UnifrakturCook", cursive;
  color:rgb(213, 213, 213) ;
  font-size: 1rem;
  background-image: linear-gradient(to top,transparent 50%,  rgba(31, 124, 216, 0.774) 50%);
  background-size: 100% 205%;
  background-position: top;
  transition: background-position 0.5s ease-in-out,color 300ms ease-in-out;
}
.submit:hover{
  background-position: bottom;
  color: rgb(16, 16, 16);
}
.load-more{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 4rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: "UnifrakturCook", cursive;
  background: linear-gradient(to top, rgb(220, 220, 220) 50% ,   rgba(185, 185, 185, 0.709) 50%);
  background-size: 100% 200%;
  background-position:top;
  transition: background-position 500ms;
  margin-bottom:5rem ;
}
.load-more:hover{
  background-position: bottom;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 29, 24, 0.709);
  width: 100%;
  height: 6rem;
  color:rgb(213, 213, 213) ;
  letter-spacing: 0.4rem;
}
