body{
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: hsl(13, 31%, 94%);
}
.container{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-part{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.left-part-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.right-part{
  width: 40%;
  height: 100%;
}
/*images*/
.image{
  border-radius: 0.5rem;
}
.mobile{
  display: none;
}
.tablet{
  display: none;
}
.desktop{
  display: flex;
  height: 10rem;
  width: 10rem;
}
/* products*/
.border{
  border:2px solid hsl(14, 86%, 42%);
}
.product{
  width: 10rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container-buttons{
  display: flex;
  position: absolute;
  left: 10%;
  top: 45%;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
  height: 2rem;
  width: 8rem;
  border-radius: 1rem;
}
.add-to-cart{
  display: flex;
  position: absolute;
  left: 10%;
  top: 45%;
  width: 50%;
  font-size: 0.6rem;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border: 1px solid hsl(14, 86%, 42%);
  text-align: center;
  background: hsl(20, 50%, 98%);
  height: 2rem;
  width: 8rem;
  border-radius: 1rem;
}
.manipulation{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.4rem;
  background: transparent;
  border-radius: 3rem;
  border: 1px solid hsl(20, 50%, 98%);
}
.category{
  color: hsl(14, 25%, 72%);
}
.name{
  padding: 0;
  margin:0;
  color: hsl(14, 65%, 9%);
  font-size: 1.5rem;
}
.price{
  color: hsl(14, 86%, 42%);
  padding: 0;
  margin-top:0.3rem;
  font-size: 1.3rem;
}
