body{
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
    background: radial-gradient(circle at center, #1a2a6c, #b21f1f, #fdbb2d);
  background: radial-gradient(circle at 50% 50%, #162c3e 0%, #0a141a 100%);
}
.container{
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header{
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  max-width: 40rem;
  gap: 4rem;
}
.my-swiper{
  width: 100%;
  display: flex;
}
.swiper-container{
  display: flex;
}
.start-battle{
  display: flex;
  width: 100%;
  background:  rgba(37, 164, 214, 0.418);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(37, 164, 214, 0.918);
  box-shadow: 4px 4px 5px  rgba(37, 164, 214, 0.938);
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-radius: 1rem;
  text-transform: uppercase;
  -webkit-text-stroke:1px  #0a141a;
  font-size: 2rem;
  color: aqua;
  transition: background 300ms,border 300ms,box-shadow 300ms;
}
.start-battle:hover{
    background:  rgba(37, 164, 214, 0.572);
    box-shadow: 6px 5px 10px  rgba(37, 164, 214, 0.938);
    border: 2px solid rgba(37, 164, 214, 0.918);
}
.header h1{
  font-weight: bolder;
  text-transform:uppercase;
  color: rgb(225, 227, 231);
}
.missions-header{
    font-weight: bolder;
  text-transform:uppercase;
  color: rgb(225, 227, 231);
}
.card{
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(30px);
 -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 1rem;
  padding: 1rem;
}
.card h1{
  margin: 0;
  padding: 0;
  color: rgb(225, 227, 231);
  font-size:2rem;
  font-weight: bolder;
}
.card p{
    color: rgba(225, 227, 231, 0.784);
}
.card p:nth-child(4){
    color: #ff33ccd2;
    font-weight: bolder;
    font-size: 1.4rem;
}
.seconds{
  box-shadow: -4px 4px 5px  rgba(37, 164, 214, 0.938);
}
.primary{
   box-shadow: -4px 4px 5px #ff33ccd2;
}
.primary p:nth-child(4){
    color: rgba(37, 164, 214, 0.938);
}
.container-main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.rachunok{
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.rachunok input{
  text-align: center;
  padding: 1rem;
  border-radius: 0.4rem;
  outline: none;
  height: 3rem;
  font-size: 1rem;
  color: rgba(235, 235, 235, 0.897);
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(30px);
 -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); 
}
.score{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.score input{
  text-align: center;
  padding: 1rem;
  border-radius: 0.4rem;
  outline: none;
}
.player-container{
  display: flex;
  gap: 4rem;
  flex-direction: column;
}
.content{
  display: flex;
}
.left-container{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.right-container{
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.name-fraction{
  background: none;
  color: rgba(235, 235, 235, 0.897);
  outline: none;
  border-radius: 1rem;
  padding: 0.5rem;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.mission{
  padding: 0.4rem;
  color: rgba(235, 235, 235, 0.719);
  font-size: 1rem;
}
.numbers input{
  background: rgba(255, 255, 255, 0.312);
  backdrop-filter: blur(30px);
 -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  outline: none;
  padding: 0.4rem;
  text-align: center;
  width: 4rem;
}
.primary-container{
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
}
.primary-container input{
  border-radius: 0.5rem;

}
.primary-container h1{
  color: rgb(225, 227, 231);
  font-size:2rem;
  font-weight: bolder;
}
.submit{
  display: flex;
  width: 100%;
  background:  rgba(37, 164, 214, 0.418);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(37, 164, 214, 0.918);
  box-shadow: 4px 4px 5px  rgba(37, 164, 214, 0.938);
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-radius: 1rem;
  text-transform: uppercase;
  -webkit-text-stroke:1px  #0a141a;
  font-size: 2rem;
  color: aqua;
  transition: background 300ms,border 300ms,box-shadow 300ms;
}

.submit:hover{
    background:  rgba(37, 164, 214, 0.572);
    box-shadow: 6px 5px 10px  rgba(37, 164, 214, 0.938);
    border: 2px solid rgba(37, 164, 214, 0.918);
}
@media  screen and (max-width:480px) {
  .main{
    overflow: hidden;
  }
  .rachunok{
  gap: 2rem;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  }
  .rachunok input{
  padding: 0.5rem;
  border-radius: 0.4rem;
  height: 2rem;
  font-size: 0.5rem;
  width: 3rem;
}
  .container-main{
    display: flex;
    flex-direction: column;
  }
  .submit{
    width: 10rem;
  }
  .deployment img{
    height: 30rem;
    width: 30rem;
    overflow: hidden;
  }
}