body{
    padding: 0;
    margin: 0;
    background-color: rgb(17, 7, 26);
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:1rem;
    width: 80%;
    backdrop-filter: blur(12px);
    border-radius: 0.8rem;
    gap: 1rem;
    background: rgba(25, 16, 34, 0.6);
    border: 1px solid rgba(140, 43, 238, 0.2);
    transition: border 0.3s;
}
.search-container:hover{
    border: 1px solid rgba(140, 43, 238, 0.575);
}
.search-logo{
    height: 2rem;
    width: 2rem;
}
.search{
    background: transparent;
    width: 100%;
    padding:1rem ;
    border: none;
    outline: none;
    color: #f7f6f8;
    font-size: 1rem;
}
.container-spell{
    color: #f7f6f8;
}
.schools-filter{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.active{
    display: flex;
    gap: 0.4rem;
    align-items: center;
    color: #f7f6f8  ;
    font-weight: bolder;
    padding: 0.8rem 4rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    border-radius: 2rem;
    background: rgba(39, 25, 54, 0.863);
    border: 1px solid rgba(140, 43, 238, 0.592);
}
.basic{
    display: flex;
    gap: 0.4rem;
    align-items: center;
    color: #f7f6f8  ;
    font-weight: bolder;
    padding: 0.8rem 4rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    border-radius: 2rem;
    background: rgba(39, 25, 54, 0.767);
    border: 1px solid rgba(140, 43, 238, 0.2);
}
.sphere{
    border-radius: 2rem;
    padding: 0.3rem;
}
.blue{
    background: rgba(34, 76, 184, 0.767);
}
.green{
    background: rgba(4, 120, 12, 0.767);
}
.yellow{
    background: rgb(152, 170, 17);
}
.red{
    background: rgba(178, 13, 13, 0.767);
}
.pink{
    background: rgba(212, 22, 197, 0.767);
}
.purple{
    background: rgba(133, 13, 184, 0.767);
}
.main{
    width: 100%;
    display: flex;
    
    flex-wrap: wrap;
}
/*right*/
.right-part-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding-left: 7rem;
}
.half{
    width: 60%;
    padding:1rem;
}
.full{
    width: 100%;
}
.container-box{
    background: rgba(25, 16, 34, 0.6);
    border: 1px solid rgba(140, 43, 238, 0.2);
}
.base{
    height: 15rem;
    width: 10rem;
    border-radius: 2rem;
    padding:1rem ;
}
.highlight{
    background: rgba(39, 25, 54, 0.863);
    border: 1px solid rgba(140, 43, 238, 0.592);
}
.base h1{
    color: #f7f6f8;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}
.base p {
    color: rgba(177, 177, 172, 0.586);
}
.level-box{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.sphere-box{
    padding: 0.5rem;
    border-radius: 2rem;
    height: 1px;
    width: 1px;
}
.abjuration { background: rgba(34, 76, 184, 0.8); box-shadow: 0 0 8px rgba(34, 76, 184, 0.5); }
.conjuration { background: rgba(11, 105, 17, 0.8); box-shadow: 0 0 8px rgb(12, 224, 26);  }
.divination { background: rgb(193, 216, 17); box-shadow: 0 0 8px rgb(152, 170, 17, 0.5); }
.evocation { background: rgba(128, 12, 12, 0.568); box-shadow: 0 0 8px rgb(219, 14, 14); }
.illusion { background: rgba(133, 13, 184, 0.8); box-shadow: 0 0 8px rgba(133, 13, 184, 0.5); }
.necromancy { background: #524848; }
.transmutation { background: rgba(117, 9, 101, 0.568); box-shadow: 0 0 8px rgb(219, 14, 175); }
/*left*/
.left-part-main{
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    align-items: start;
    gap: 2rem;
    color: #f7f6f8;
}
.left-half{
    width: 20%;
}
.left-part-main-hide{
    display: none;
}
.casting-box{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.casting-box-container{
    height: 5rem;
    width: 4rem;
}
.casting-box-container h1{
    font-size: 1rem;
}
.spell-box-selected{
    backdrop-filter: blur(12px);
    background: rgba(25, 16, 34, 0.6);
        border: 1px solid rgba(140, 43, 238, 0.2);
    height: auto;
    border-radius: 1rem;
    width: auto;
    display: flex;
    flex-direction: column;
    max-width: 40rem;
}
.header-spell-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(51, 30, 71, 0.49);
    border: 1px solid rgba(140, 43, 238, 0.2);
}
.spell-box-content{
    padding: 1rem;
}
.header-spell-box button{
    height: 2rem;
    display: flex;
    justify-content: center;
    width: 2rem;
    background: transparent;
    border: none;
}
.cross{
    height: 2rem;
    width: 2rem;
}
.spell-box-content-main-info{
    padding: 2rem;
    width: 25rem;
}
.blur-effect{
  backdrop-filter: blur(150px);
  border-radius: 2rem;
}
.spell-box-content-main-info h1{
    font-weight: bolder;
    font-size: 1.5rem;
}
.spell-box-content-main-info p{
    color: rgba(177, 177, 172, 0.586);    
}
.spell-box-content-main-info-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.boxes-clicked-spell{
        background: rgba(51, 30, 71, 0.555);
    border: 1px solid rgba(140, 43, 238, 0.377);
    border-radius: 2rem;
    width: 10rem;
    height: 5rem;
    padding: 0.5rem;
    text-align: center;
        transition: border 1s , background 1s;
}
.boxes-clicked-spell h1{
    font-size: 0.9rem;
}
.components{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.component-box{
            background: rgba(51, 30, 71, 0.555);
    border: 1px solid rgba(140, 43, 238, 0.377);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
 }
.boxes-clicked-spell:hover{
            background: rgba(134, 11, 249, 0.555);
    border: 1px solid rgba(140, 43, 238, 0.377);
}
.load-more{
   background: rgba(51, 30, 71, 0.555);
    padding: 1rem;
    border: 1px solid rgba(140, 43, 238, 0.377);
    border-radius: 1rem;
    color: #f7f6f8;
}
@media screen and (max-width:480px) {
    .main{
        flex-direction: column;
    }
.right-part-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding-left: 0rem;
}
.half{
    width: 100%;
    padding:1rem;
}
.full{
    width: 100%;
}
.header-spell-box{
    justify-content: center;
    gap: 10rem;
}
}